
#
# {{ app.Description }}>
#
<VirtualHost {{ app.VirtualHost }}>
    ServerName {{ app.ServerName }}
    ServerAlias {{ app.ServerAlias }}
    ServerAdmin {{ app.ServerAdmin }}

    DocumentRoot "{{ app.ProjectRoot }}"
</VirtualHost>